.dialog-box {
  display: absolute;
  top: 25vh;
  right: 30vw;
  min-width: 10rem;
  background-color: #1e1e1e;
  color: azure;
  border-radius: 0.1rem;
  overflow: hidden;
  z-index: 12;
}

.dialog-box__header {
  padding: 0.125rem 0.375rem;
  height: 1rem;
  border-radius: 0.1rem 0.1rem 0 0;
  color: grey;
  font-size: 0.7rem;
  font-weight: 700;
  user-select: none;
  text-align: center;
}

.dialog-box__header:hover,
.dialog-box__header:active {
  cursor: move;
}

.dialog-box__header__btn {
  float: left;
  display: block;
  border: none;
  background: none;
  color: grey;
}

.dialog-box__header__btn:hover, 
.dialog-box__header__btn:active {
  color: azure;
}

.dialog-box__content {
  padding: 0.5rem 0.25rem;
}