.dialog-box {
  position: absolute;
  top: 25vh;
  left: 25vw;
  min-width: 10rem;
  background-color: #1e1e1e;
  color: azure;
  border-radius: 0.1rem;
  overflow: hidden;
  z-index: 12;
}

.dialog-box__header {
  padding: 0.125rem 0.375rem;
  height: 1rem;
  border-radius: 0.1rem 0.1rem 0 0;
  color: lightgrey;
  background-color: black;
  font-size: 0.7rem;
  font-weight: 700;
  user-select: none;
  text-align: center;
}

.dialog-box__header:hover,
.dialog-box__header:active {
  cursor: move;
}

.dialog-box__header__btn {
  float: right;
  display: block;
  border: none;
  background: none;
  color: grey;
}

.dialog-box__header__btn:hover, 
.dialog-box__header__btn:active {
  color: azure;
}

.dialog-box__content {
  padding: 0.25rem 0.5rem;
}

.dialog-box__btns {
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  padding: 0.25rem 0 0.5rem;
  max-width: 12rem;
}

.dialog-box__btns__btn {
  display: inline-block;
  background-color: black;
  border: none;
  border-radius: 0.15rem;
  color: grey;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.dialog-box__btns__btn:hover,
.dialog-box__btns__btn:focus {
  color: lightgrey;
  font-weight: 500;
}