.viewport {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%;
  width: 100%; */
  background-color: #2e2e2e;
  overflow: hidden;
  z-index: 0;
}