.layer-select__layers {
  overflow-y: scroll;
  max-height: 7rem;
  scrollbar-width: none;
}

.layer-select__layers::-webkit-scrollbar {
  display: none;
}

.layer-select__layers__item {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-top: 2px grey solid;
  padding: 0.1rem 0.3rem;
}

.layer-select__layers__item > * {
  margin-left: 0.25rem;
}

.layer-select__layers__item-active {
  border-top: 2px darkgoldenrod solid;
  background-color: #2e2e2e;
}

.layer-select__layers__item__input {
  border: none;
  background: none;
  padding: 0px;
  padding-left: 4%;
  font-size: 0.7rem;
  color: azure;
  width: 60%;
  max-width: 4rem;
}

.layer-select__layers__item__btns > span {
  display: inline-block;
  padding: 0 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
  color: lightgrey;
}

.layer-select__layers__item__btns > span:hover,
.layer-select__layers__item__btns > span:focus {
  color: azure;
}

.layer-select__layers__item__input:active,
.layer-select__layers__item__input:focus {
  outline: none;
  background-color: #1e1e1e;
  border-bottom: 2px solid darkgoldenrod;
  border-radius: 2px 2px 0px 0px;
}