.widget {
  position: absolute;
  right: 1rem;
  width: 8rem;
  border-radius: 0.25rem;
  color: azure;
  background-color: #1e1e1e;
  font-size: 0.8rem;
  overflow: hidden;
}

.widget__item {
  margin: 0.25rem 0.5rem;
}

.widget__topbar {
  padding: 0.125rem 0.375rem;
  height: 0.8rem;
  background-color: black;
  border-radius: 0.25rem 0.25rem 0 0;
  color: azure;
  font-size: 0.5rem;
  font-weight: 700;
}

.widget__topbar:hover,
.widget__topbar:focus {
  cursor: move;
}

.widget__topbar__btn {
  float: right;
  font-size: 0.5rem;
  padding: 0 0.25rem;
}

.widget__topbar__btn:hover {
  cursor: pointer;
}

.widget-layerSelect {
  top: 0.625rem;
  min-width: 10rem;
}

.widget-colorSelect {
  top: 5.5rem;
  min-width: 13.8rem;
}

.widget__item__layer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  border-top: 1px azure solid;
  padding: 0.2rem 0.3rem;
}

.widget__item__layer > * {
  margin-left: 0.25rem;
}

.widget__item__layer-active {
  background-color: #2e2e2e;
}

.widget__item__layer__input {
  border: none;
  background: none;
  padding: 0px;
  padding-left: 4%;
  font-size: 0.7rem;
  color: azure;
  width: 60%;
  max-width: 4rem;
}

.widget__item__layer__btns > span {
  display: inline-block;
  padding: 0 0.25rem;
  cursor: pointer;
  border-radius: 0.25rem;
}

.widget__item__layer__btns > span:hover,
.widget__item__layer__btns > span:focus {
  background-color: #1e1e1e;
}

.widget__item__layer__input:active,
.widget__item__layer__input:focus {
  outline: none;
  background-color: #1e1e1e;
  border-bottom: 2px solid black;
  border-radius: 2px 2px 0px 0px;
}

.widget__item__btn {
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0 0.125rem 0.25rem 0;
  cursor: pointer;
  border-radius: 0.25rem;
}

.widget__item__btn:hover,
.widget__item__btn:focus {
  background-color: #2e2e2e;
}