.tools-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #1e1e1e;
}

.tools-sidebar__tool {
  font-family: inherit;
  background: none;
  border: none;
  color: azure;
  font-size: 0.75rem;
  flex-basis: auto;
  width: 100%;
  padding: 4px 0px;
}

.tools-sidebar__tool:hover {
  background-color: #2e2e2e;
}

.tools-sidebar__tool:disabled {
  background-color: darkgoldenrod;
}